*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3e5d8;
}

.container {
    max-width: 1440px;
    display: flex;
    padding: 128px 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #F3E5D7;
    overflow-x: hidden;
    margin: 0 auto;
}

.recipe__card {
    width: 736px;
    height: auto;
    padding: 40px;
    display: flex;
    width: 736px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #fff;
}

.recipe__image img {
    width: 100%;
    height: 300px;
    border-radius: 12px;
}

.recipe__description {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.recipe__main-title {
    color: #312E2C;
    font-family: "Young Serif", 'sans-serif';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    align-self: stretch;
}

.recipe__description-paragraph,
.recipe__nutrition-description {
    color: #5F564D;
    font-family: 'Outfit', 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.recipe__prep {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    background: #FFF7FB;
}


.recipe__preptime-title {
    color: #7A284E;
    font-family: 'Outfit', 'sans-serif';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    align-self: stretch;
}

.recipe__prep-list {
    font-family: 'Outfit', 'sans-serif';
    font-size: 16px;
    line-height: 100%;
    color: #5f564d;
    padding-left: 20px;
    gap: 8px;
    display: flex;
    flex-direction: column;

}

.recipe__prep-list li {
    text-indent: 16px;
}

ul li::marker {
    color: #7A284E;
    width: 4px;
    height: 4px;
}


.recipe__prep-list span {
    color: #5f564d;
    font-family: 'Outfit', 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.recipe__normal-title {
    color: #854632;
    font-family: "Young Serif", 'sans-serif';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 24px;
}

.recipe__ingredients {
    border-bottom: 1px solid #E3DDD7;
    width: 100%;
}

.recipe__ingredients-list {
    color: #5F564D;
    font-family: 'Outfit', 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-left: 21px;
}


.recipe__ingredients-list li {
    text-indent: 20px;
    margin-bottom: 8px;
}

.recipe__ingredients-list li:last-child {
    margin-bottom: 32px;
}

.recipe__instructions-list {
    color: #5F564D;
    font-family: 'Outfit', 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-left: 21px;
}

.recipe__instructions-list span {
    font-weight: 700;
}

ol li::marker {
    color: #7A284E;
    font-weight: 700;
}

.recipe__instructions-list li {
    padding-left: 16px;
    margin-bottom: 8px;
}


.recipe__instructions {
    border-bottom: 1px solid #E3DDD7;
    width: 100%;
}

.recipe__instructions li:last-child {
    margin-bottom: 32px;
}

.recipe__table {
    width: 100%;
    border-bottom: 1px solid #5F564
}

.recipe__table th {
    color: #5F564D;
    font-family: 'Outfit', 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 12px 32px;
    gap: 12px;
    display: flex;
    align-items: center;
    align-self: stretch;
    line-height: 150%;

}

.recipe__table td {
    color: #854632;
    font-family: 'Outfit', 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding: 12px 23px;

}

.recipe__table th,
.recipe__table td {
    border-bottom: 1px solid #E3DDD7;
}

.recipe__table tr:last-child th,
.recipe__table tr:last-child td {
    border-bottom: none;
}

.recipe__nutrition-description {
    margin-bottom: 10px;
    margin-top: 10px;
}

@media(max-width: 768px) {
    .container {
        display: flex;
        max-width: 768px;
        padding: 128px 48px;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .recipe__card {
        max-width: 616px;
        padding: 40px;
        gap: 40px;
    }

    @media (max-width: 375px) {
        .container {
            width: 100%;
            padding: 0;
            background: white;
            min-height: 100vh;
            overflow-x: hidden;
        }

        .recipe__card {
            width: 100%;
            max-width: 100%;
            padding: 0;
            border-radius: 0;
            gap: 32px;
            padding: 40px 32px;
        }

        .recipe__image {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            margin-top: -6vh;

        }

        .recipe__image img {
            width: 375px;
            height: 171px;
            border-radius: 0;
            object-fit: cover;
        }

        .recipe__main-title {
            font-size: 36px;
            font-weight: 400;
        }

        .recipe__prep-list li,
        .recipe__ingredients-list li {
            white-space: normal;
            word-break: keep-all;
            text-indent: 0px;
            padding-left: 25px;
        }


        .recipe__description-paragraph,
        .recipe__prep-list,
        .recipe__ingredients-list,
        .recipe__instructions-list {
            font-size: 16px;
            line-height: 150%;
        }


        .recipe__normal-title {
            font-size: 28px;
            margin-bottom: 30px;
        }


        .recipe__table {
            width: calc(100% - 64px);
            margin: 0 auto;
        }

        .recipe__table th,
        .recipe__table td {
            width: 100%;
        }

        .recipe__ingredients-list li:last-child,
        .recipe__instructions li:last-child {
            margin-bottom: 24px;
        }

        .recipe__table {
            margin-top: 20px;
        }

        .recipe__prep {
            padding: 24px;
        }

    }


}